*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 001B79  */
:root {
  --bg-color: #f2f4f7;
  --question-cont-clr: #ffffff;
  --border-clr: #dddfe1;
  --secondary-clr: #0d99ff;
  --light-blue: #e8f0fe;
}

body {
  background-color: var(--bg-color);
  font-family: "Roboto", sans-serif;
}

.container {
  /* max-width: 794px; */
  max-width: 1000px;

  margin: 0 auto;
  /* border: 1px solid red; */
}
.box-shadow {
  box-shadow: 0px 0px 10px 1px var(--border-clr);
}

/* Header  */
header {
  width: 100%;

  /* background-color: var(--question-cont-clr); */
  margin-bottom: 24px;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 100%;
  margin-bottom: 24px;
  background-color: var(--question-cont-clr);

  position: fixed;
  top: 0px;
  transition: top 0.3s ease;
}
.logo p {
  font-size: 40px;
  font-weight: bolder;
  color: var(--secondary-clr);
}
nav {
  width: 100%;
  height: 60px;
  background-color: var(--question-cont-clr);

  position: fixed;
  top: 94px;
  transition: top 0.3s ease;
}
nav.sticky {
  top: 0px;
}
.filter-control {
  height: 100%;
}
.filter-control form {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.filter-control form select {
  height: 40px;
  font-size: 24px;
  padding: 2px;
  background-color: var(--light-blue);
  border: 1px solid var(--border-clr);
  outline-color: var(--secondary-clr);
}
/* Header  */
main {
  margin-top: 178px;
}
.question {
  max-width: 794px;
  margin: 0 auto;
  /* padding: 20px; */
  /* background-color: var(--question-cont-clr); */
  /* border-radius: 10px; */
  /* box-shadow: 0px 0px 10px 1px var(--border-clr); */
}

.question-details {
  text-align: center;
  /* margin-bottom: 24px; */
}

.subject-name {
  /* color: var(--light-blue); */
}
.part {
  text-align: center;
  font-weight: bold;
  margin: 24px;
}

.question-items {
  background-color: var(--question-cont-clr);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 1px var(--border-clr);
  padding: 20px;
  width: 100%;
}

.question-title-container,
.question-body-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}
.question-no,
.blank {
  width: 40px;
}
.question-title-container,
.question-body-container {
  width: 100%;
}
.question-clues {
  margin-bottom: 20px;
}
.question-clues table {
  width: 100%;
}
table,
tr,
td {
  border: 1px solid black;
  border-collapse: collapse;
}
td {
  text-align: center;
}
/* header */

.add-data-btn {
  position: fixed;
  bottom: 5%;
  right: 17%;

  background-color: var(--secondary-clr);
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  text-decoration: none;
  font-size: 40px;
  font-weight: bolder;
  color: var(--question-cont-clr);
}
